# PostgreSQL
DB_USER=postgres
DB_PASS=XUXpgrpEu5hBSBCwDfMRh48wz6r5x2rIHBxNJQ13FuMPCoewWSoepIPlUvfKQEvl
DB_NAME=postgres

# JWT
JWT_SECRET=super-secret-change-me-in-production
JWT_EXPIRES_IN=7d

# Admin seed
ADMIN_EMAIL=admin@miguelangeljaimen.cl
ADMIN_PASSWORD=change-me-in-production
